# Exercise 4.6

## 01. Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
# path shortcut
path = r'C:\Users\georg\Documents\2025-02-05 Instacart Basket Analysis'

In [3]:
# importing order products combined dataframe
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_combined.shape

(32434489, 12)

In [5]:
# importing prods dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## 03. Merging Data

In [6]:
df_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### These two tables can be merged on Product ID

In [9]:
# deleting _merge column from df_combined
df_combined2 = df_combined.drop('_merge', axis = 1)

In [10]:
df_combined2.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,1,2,8,NaN,196,1,0
1,0,0,2539329,1,1,2,8,NaN,14084,2,0
2,0,0,2539329,1,1,2,8,NaN,12427,3,0
3,0,0,2539329,1,1,2,8,NaN,26088,4,0
4,0,0,2539329,1,1,2,8,NaN,26405,5,0

In [12]:
# merging data
df_merged = df_combined2.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
# coounting frequency of values in _merge col (merge flag)
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## 04. Exporting data

In [15]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))