# 01. Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [3]:
# path shortcut
path = r'C:\Users\georg\Documents\2025-02-05 Instacart Basket Analysis'

In [4]:
# import ord prods dataframe
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

# 03. User Defined Functions

In [5]:
# creating a subset of the data
df_subset_combined = df_combined[:1000000]

In [8]:
df_subset_combined.shape

(1000000, 18)

In [6]:
# defining function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# using function
df_subset_combined['price_range'] = df_subset_combined.apply(price_label, axis = 1)

C:\Users\georg\AppData\Local\Temp\ipykernel_19816\4019432843.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset_combined['price_range'] = df_subset_combined.apply(price_label, axis = 1)

In [9]:
df_subset_combined['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

In [10]:
df_subset_combined['prices'].max()

99999.0

In [11]:
df_subset_combined.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,12427,Original Beef Jerky,23,19,4.4,both,Low-range product
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product

# 04. If-Statements with loc() Function

In [12]:
df_subset_combined.loc[df_subset_combined['prices'] > 15, 'price_range_loc'] = 'High range product'

C:\Users\georg\AppData\Local\Temp\ipykernel_19816\2977507349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset_combined.loc[df_subset_combined['prices'] > 15, 'price_range_loc'] = 'High range product'

In [13]:
df_subset_combined.loc[(df_subset_combined['prices'] <= 15) & (df_subset_combined['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [14]:
df_subset_combined.loc[df_subset_combined['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [15]:
df_subset_combined['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     673183
Low range product     314392
High range product     12425
Name: count, dtype: int64

In [18]:
df_combined.loc[df_combined['prices'] > 15, 'price_range_loc'] = 'High range product'

In [19]:
df_combined.loc[(df_combined['prices'] <= 15) & (df_combined['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [20]:
df_combined.loc[df_combined['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [21]:
df_combined['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     21860860
Low range product     10126321
High range product      417678
Name: count, dtype: int64

# 05. If-Statements with For-Loops

In [23]:
# finding out which days of the week are most busy
df_combined['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

### Busiest day is Saturday (0), least busy is Wed (4)

In [24]:
result = []

for value in df_combined["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [26]:
# add result to df
df_combined['busiest_day'] = result

In [27]:
df_combined['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [28]:
df_combined.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid range product,Regularly busy
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product,Regularly busy
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,12427,Original Beef Jerky,23,19,4.4,both,Low range product,Regularly busy
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product,Regularly busy
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range product,Regularly busy

# 06. Exercise 4.7

In [29]:
result_2 = []

for value in df_combined["order_day_of_week"]:
  if value in [0,1]:
    result_2.append("Busiest days")
  elif value in [6, 2, 5]:
    result_2.append("Regularly busy")
  else:
    result_2.append("Least busiest days")

In [30]:
# add result to df
df_combined['day_activity_level'] = result_2

In [31]:
df_combined['day_activity_level'].value_counts(dropna = False)

day_activity_level
Regularly busy        12916111
Busiest days          11864412
Least busiest days     7624336
Name: count, dtype: int64

In [32]:
df_combined.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,day_activity_level
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product,Regularly busy,Regularly busy
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,12427,Original Beef Jerky,23,19,4.4,both,Low range product,Regularly busy,Regularly busy
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low range product,Regularly busy,Regularly busy
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range product,Regularly busy,Regularly busy

In [43]:
# manual calculation to test busiest days
6204182+5660230

11864412

In [44]:
# manual calculation to test least busiest days
3840534+3783802

7624336

### The new column is accurate. The counts match the calculated sum of busiest and least busy days

In [35]:
# finding out which hours of the day most busy
df_combined['time_of_order'].value_counts(dropna = False)

time_of_order
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

### Most orders were placed between 9AM and 4PM, Fewest orders were placed between 11PM and 6AM

In [38]:
result_3 = []

for value in df_combined["time_of_order"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_3.append("Most Orders")
  elif value in [17, 8, 18, 19, 20, 7, 21, 22]:
    result_3.append("Average Orders")
  else:
    result_3.append("Fewest Orders")

In [39]:
# add result to df
df_combined['busiest_period_of_day'] = result_3

In [40]:
df_combined['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: count, dtype: int64

In [42]:
# just to test, going to manually calculate fewest orders
402316 + 290493 + 218769 + 115700 + 87961 + 69375 + 53242 + 51281

1289137

# 07. Exporting Data

In [45]:
df_combined.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_revised.pkl'))